.forgot_password button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #82aae6;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}
.forgot_password {
    text-align: right;
}